**.sh
**.jar
**.log
**.pdf
**.png

**trash

**lib

**backup**

save_eec_ltlbiomassTons.nc

output-PAPIER-trophic
**/fisheries_checks
**/parameter_test

morgane-outputs
morgane-biomass-datarmor.nc
**.swp
old_ltlbiomass.nc
plot_outputs.py

**/*ipynb*
movement_checks
profiles.txt
